.season {
  height: 50px;
  font-size: 0.8rem;
  color: #66c;
}
.season td {
  position: relative;
  border-color: #448;
}
.season td.name {
  vertical-align: middle;
  text-align: center;
  width: 95px;
}
.season td.name .year {
  display: block;
  font-size: 0.7em;
}

.season td.date,
.season td.today {
  border: none;
  font-size: 0.7rem;
  text-shadow: 1px 1px 0 black;
}
.season td.date {
  width: 90px;
  color: #448;
}
.season td.date .start {
  position: absolute;
  top: 0;
  left: 10px;
  transform:translateY(-50%);
}
.season.current td.today .now {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #99f;
}

/* Current and Hovered Seasons */
.season.current {
  height: 100px;
  font-size: 1.2rem;
}
.season.current td.name,
.season:hover td.name { 
  border: none;
  color: black;
}
.season:hover {
  cursor: pointer;
}
.season.current + tr td.name,
.season:hover + tr td.name {
  border: none;
}
.season.current td.date {
  color: #66c; 
}
.season.current.Winter1 td.name,
.season.Winter1:hover td.name {
  background: linear-gradient(white,#333); 
}
.season.current.Winter2 td.name,
.season.Winter2:hover td.name {
  background: linear-gradient(#333,#f88);
}
.season.current.Spring1 td.name,
.season.Spring1:hover td.name {
  background: linear-gradient(#f88,#0ec029);
}
.season.current.Spring2 td.name,
.season.Spring2:hover td.name {
  background: linear-gradient(#0f0,cyan); 
}
.season.current.Summer1 td.name,
.season.Summer1:hover td.name {
  background: linear-gradient(cyan,yellow); 
}
.season.current.Summer2 td.name,
.season.Summer2:hover td.name {
  background: linear-gradient(yellow,orange); 
}
.season.current.Autumn1 td.name,
.season.Autumn1:hover td.name {
  background: linear-gradient(orange,brown); 
}
.season.current.Autumn2 td.name,
.season.Autumn2:hover td.name {
  background: linear-gradient(brown,white); 
}

/* Upcoming Seasons */
.season.current + tr {
  height: 75px;
  font-size: 1.0rem;
  color: #77e;
}
.season:hover td.date,
.season:hover + tr td.date,
.season.current + tr:hover + tr td.date,
.season.current + tr + tr:hover td.date {
  color: #77e;
}
.season.current + tr td.date { 
  color: #77e; 
}
.season.current + tr + tr td.date { 
  color: #66c; 
}