h1 {
  font-size: 2rem;
}
h3 {
  font-size: 1.2rem;
}

.seasons tr {
  height: 50px;
}
.seasons tr.current {
  height: 100px;
}

.seasons td {
  position: relative;
}
.seasons td.name {
  vertical-align: middle;
  width: 100px;
}
.seasons td.name .year {
  display: block;
  font-size: 0.7rem;
}

.seasons td.date,
.seasons td.today {
  width: 80px;
  border: none;
  font-size: 0.7rem;
}
.seasons td.date .start {
  position: absolute;
  top: 0;
  transform:translateY(-50%);
}
.seasons td.today .now {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
